*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(141, 138, 138);
}
.container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 95vh;
    margin: 0 auto;
    border: 1px solid brown;
}
.content{
    position: relative;
    width: 28%;
    height: 500px;
    border:1px solid aquamarine;
    margin-top: 6%;
    border-radius: 10px;
}
.heading{
    position: absolute;
    color: white;
    top: 10px;
    left: 35%;
}
.form-1{
    text-align: center;
    padding: 25px 20%;
    position: absolute;
    left: 5%;
    top:10%
}
input{
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}
.form-2{
    text-align: center;
    padding: 25px 20%;
    position: absolute;
    left: 5%;
    top:10%
}
.form-2 > label{
    padding: 4px;
}
.form-2>option{
    padding: 100px;
}