
*{
    padding: 0;
    margin: 0;
}
.header>a{
    padding: 5px 100px;
}
.header{
    padding: 20px 0;
}
.container1{
    box-shadow: inset 0 0 0 2500px rgba(0, 0, 0, 0.5);
    color: white;
    background: url("../images/first-img.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.content-title{
    color: aqua;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 60%;
}
.btn{
    border: solid aqua;
    color: aqua;
    background-color: transparent;
    position: absolute;
    left: 65%;
    top: 70%;
    padding: 15px 25px;
}
.btn:hover{
    background-color: orange;
}
.profile{
    left: 75%;
    position: absolute;
}
.container2{
    background: url("../images/bg-img2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
